<!-- zeen_app/templates/zeen_app/update_degree.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Degree</title>
</head>
<body>

    <h1>Update Degree</h1>

    <form method="post" action="{% url 'update_degree' degree.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>

    <a href="{% url 'student_profile' student_id=degree.student.id %}">Back to Profile</a>

</body>
</html>
